.actions {
    display: flex;
    gap: 20px;
    align-items: center;
}

.arrow {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.545);
    transition: .2s all;
    border-radius: 50%;
}

.arrow:hover {
    background: rgba(255, 255, 255, 0.055);
}

.arrow:active {
    scale: .9;
    border-color: white;
    background: rgba(255, 255, 255, 0.095);
}